.slider-item {
  position: relative;
  text-align: center;
  
}

.slider-item img.img005 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  width: 100%; /* Adjust the width percentage as needed */
  height: auto; /* Maintain the aspect ratio */
  /* Alternatively, use the transform property for scaling */
  /* transform: scale(1.5); Adjust the scale factor as needed */
}
.slider-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Remove default inline display of images */
}
.img005{
  margin: 5% auto;
}

.button-container {
  display: flex;
  flex-direction: row; /* Align buttons vertically */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  text-align: center;
}

.button1,
.button2 {
  margin: 1%;
  padding: 1%;
  background: linear-gradient(to right, #830808, #da4040);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 55%;
  font-size: large;
  border-radius: 20px;
  border: 4px solid orangered;
}
.button1:hover,
.button2:hover{
  background: linear-gradient(to right, #000000, #706a6a);;
}

.change {
  font-size: larger;
  color:rgb(245, 162, 107);
}

@media screen and (max-width: 1050px) {
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .button1,.button2{
    width: 90%;
  }

}

